.callBack {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 380px;
  padding-left: 50px;
  border-radius: 15px;
  background: #e4eaef;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 323px;
    width: 329px;
    height: 100%;
    background: rgba(137, 149, 159, 0.5);
    z-index: 1;
  }

  &::after {
    right: 0;
    width: 303px;
  }

  h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    color: rgb(43, 43, 43);
  }

  form {
    position: relative;
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 30px;
  }

  img {
    position: relative;
    z-index: 10;
  }
}

.textField {
  input {
    padding: 16px 31px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
  }
}

.submitBtn {
  max-width: 253px;
  height: 50px;
}

@media screen and (max-width: 1680px) {
  .callBack {
    background: url('/src/assets/img/questions-img.png') 100% no-repeat #e4eaef;

    & > img {
      display: none;
    }

    &::before,
    &::after {
      display: none;
    }
  }
}

@media screen and (max-width: 1550px) {
  .callBack {
    background-position: 130% 0;
  }
}

@media screen and (max-width: 1439px) {
  .callBack {
    background-size: 439px 190px;
    background-position: 100% 100%;
  }
}

@media screen and (max-width: 1100px) {
  .callBack {
    background-image: none;
    height: auto;
    padding: 25px;
  }
}

@media screen and (max-width: 500px) {
  .callBack {
    h2 {
      font-size: 24px;
      line-height: normal;
    }
  }

  form {
    flex-direction: column;
  }

  .submitBtn {
    max-width: 100%;
  }
}
