.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: var(--button-color);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
}
